a {
    color: white;
    text-decoration: none;
}

* {
    outline: none !important;
}

button {
    cursor: pointer;
}

a:hover {
    color: white;
    text-decoration: none;
}

.button {
    font-size: 18px;
    color: rgb(255, 255, 255);
    outline: none;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 4px;
    line-height: 1.2;
    padding: 25px 45px;
    transition: all 0.3s;
}

.button:hover {
    border: 1px solid rgba(255, 255, 255, 1);
    transition: all 0.3s;

}

header.school {
    font-family: 'OldStandart-Regular';
    color: white;
    background-position-x: 35%;
    background-color: #4e366e;
    /*background-image: url('../images/bg-fiolet.png');*/
    background-size: cover;
    padding-top: 32px;
    padding-bottom: 30px;
}

header.clinic {
    font-family: 'OldStandart-Regular';
    color: white;
    background-color: black;
    /*background-image: url('../images/bg-black.png');*/
    background-size: cover;
    background-position-x: 35%;
    padding-top: 32px;
    padding-bottom: 30px;
}

header .logo {
    font-family: 'OldStandart-Regular';
    font-size: 32px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
}

header .logo:hover {
    text-decoration: none;
}

header .change-lang {
    font-family: "Lato-reg";
    color: rgb(255, 255, 255);
    line-height: 1.2;
    padding-bottom: 3px;
    text-transform: uppercase;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
    margin-left: 16px;

}

header .change-lang.active {
    font-family: "Lato-reg";
    color: rgba(255, 255, 255, 0.302);
    line-height: 1.2;
    text-transform: uppercase;
    border: 0;

}

header .change-lang:hover {
    text-decoration: none;
}

header .paragraph {
    margin-top: 110px;
    font-family: 'Myriad Pro';

}

.clinic .paragraph {
    margin-top: 60px;
}

header .paragraph h2 {
    font-size: 80px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    white-space: nowrap;
}

header .paragraph p {
    font-size: 20px;
    color: rgb(255, 255, 255);
    line-height: 1.4;
}

.course {
    transition: all 0.3s;
    border-bottom: 1px solid transparent;

}

.course:hover {
    transition: all 0.3s;
    border-bottom: 1px solid white;
}

.date-section {
    font-family: 'Lato-reg';
    font-size: 20px;
    color: rgb(255, 255, 255);
    line-height: 1.5;
    margin-top: 24px;
    white-space: nowrap;
}

.date-section .date {
    font-family: 'Lato-bold';
}

.social-links a {
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin-left: 15px;
    border-radius: 100%;
    color: white;
    text-decoration: none;
    position: relative;
    width: 32px;
    padding: 4px;
    height: 32px;
    transition: all 0.3s;
}

.social-links a:hover {
    border: 1px solid rgba(255, 255, 255, 1);
    transition: all 0.3s;

}

.social-links i {
    font-size: 16px;
    position: relative;
}

.date-section button {
    padding: 10px 16px;
    font-size: 16px;
    font-family: "Lato-reg";
    color: rgb(255, 255, 255);

}

.contacts-header {
    margin-top: 85px;
    font-family: 'Lato-reg';
    font-size: 20px;

}

.contacts-header .email {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
    font-size: 16px;
    margin-left: 44px;
    transition: all 0.3s;
}

.contacts-header .email:hover {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    font-size: 16px;
    margin-left: 44px;
    transition: all 0.3s;
}

.main-section {
    padding-top: 80px;
}

.uslugi-img {
    margin-bottom: 24px;
}

.uslugi-name {
    font-size: 18px;
    font-family: "Lato-bold";
    color: rgb(37, 37, 37);
    font-weight: bold;
    line-height: 1.333;
}

.uslugi-opis {
    font-size: 16px;
    font-family: "PT Sans";
    color: rgb(37, 37, 37);
    line-height: 1.5;
}

.our-work {
    position: relative;
}

.our-work > .hover-img {
    opacity: 0;
    position: absolute;
    background-color: red;
    width: 100%;
    height: 100%;
    transition: all 0.3s;
}

.our-work:hover > .hover-img {
    transition: all 0.3s;
    opacity: 0.9;
}

.out-lab-typo {
    font-size: 18px;
    font-family: "Lato-reg";
    color: rgb(37, 37, 37);
    line-height: 1.444;
}

.booster-clinic {
    margin-top: 81px;
    margin-left: 0px;
    margin-right: 0px;
    background-image: url('../images/virt-model.jpg');
    padding-top: 65px;
    padding-bottom: 30px;
    border-radius: 12px;
}

.photo-typo {
    font-size: 14px;
    font-family: "Lato-reg";
    color: rgb(37, 37, 37);
    line-height: 1.2;
}

.lab-steps {
    padding-left: 20px;
}

.lab-steps li {
    font-size: 18px;
    font-family: "Lato-reg";
    color: rgb(37, 37, 37);
    line-height: 1.444;
    margin-bottom: 5px;
}

.header {
    font-size: 42px;
    font-family: 'OldStandart-Regular';
    color: rgb(37, 37, 37);
    line-height: 1.2;
}

.sub_header {
    font-size: 20px;
    font-family: "Lato-reg";
    color: rgb(37, 37, 37);
    line-height: 1.4;
    text-align: center;
}

.second_header {
    font-size: 32px;
    color: rgb(37, 37, 37);
    font-family: 'OldStandart-Regular';
    line-height: 1.2;

}

.description {
    margin-top: 50px;
}

.main-list {
    margin-top: 28px;
    list-style: none;
    padding-left: 17px;
    font-size: 16px;
    color: rgb(37, 37, 37);

}

.main-list li {
    position: relative;
    margin-bottom: 10px;
}

.main-list li:before {
    content: " ";
    position: absolute;
    width: 9px;
    left: -15px;
    height: 1px;
    top: 11px;
    background-color: black;
}

.button-list {
    background: #fff;
    margin-top: 30px;
    padding: 24px 45px;
    font-size: 18px;
    font-family: "Lato-reg";
    color: rgb(71, 58, 108);
    line-height: 1.2;
    border: 1px solid rgb(71, 58, 108);
    border-radius: 4px;
    transition: all 0.2s;
}

.button-list:hover {
    transition: all 0.2s;
    background-color: rgba(71, 58, 108, 0.1);
}

.gallery {
    margin-top: 90px;
    padding-bottom: 90px;
}

.gallery h3 {
    margin-bottom: 40px;
}

.gallery-date {
    margin-top: 20px;
    font-size: 14px;
    font-family: "Lato-reg";
    color: rgba(37, 37, 37, 0.502);
    line-height: 1.571;
}

.gallery-header {
    font-size: 24px;
    font-family: "PT Sans";
    color: rgb(37, 37, 37);
    line-height: 0.917;
    margin-bottom: 10px;
}

.gallery-subheader {
    font-size: 16px;
    font-family: "PT Sans";
    color: rgb(37, 37, 37);
    line-height: 1.375;
}

.booster {
    background-image: url("../images/spets.jpg");
    background-size: cover;
    padding-top: 77px;
    padding-bottom: 65px;
    border-radius: 12px;
}

.booster h3 {
    font-size: 42px;
    color: rgb(255, 255, 255);
    line-height: 1.2;
    text-align: center;

}

.booster p {
    font-size: 18px;
    color: rgb(255, 255, 255);
    line-height: 1.444;
    text-align: center;
    margin-bottom: 21px;
}

.contacts {
    padding-top: 80px;
    padding-bottom: 80px;
}

.contacts .avatar {
    border-radius: 100%;
}

.contacts a {
    font-size: 18px;
    font-family: "Lato-reg";
    color: rgb(37, 37, 37);
    line-height: 1.2;
}

.contacts a:hover {
    font-size: 18px;
    font-family: "Lato-reg";
    color: rgb(20, 20, 20);
    line-height: 1.2;
}

.contacts .mail {
    border-bottom: 1px solid black;
    margin-left: 3px;
}

.contacts p {
    margin-bottom: 5px;
    font-size: 18px;
    font-family: "Lato-bold";
    color: rgb(37, 37, 37);
    font-weight: bold;
    line-height: 1.2;
}

footer {
    font-size: 13px;
    font-family: "Lato-reg";
    color: rgb(154, 154, 154);
    line-height: 2.308;
    background-color: #f2f2f2;
    padding-top: 45px;
    padding-bottom: 35px;
}

.lSSlideOuter .lSPager, .lSSlideOuter .lightSlider {
    padding-left: 40px;
    padding-right: 40px;
}

.lSAction > a {
    top: 90px;
}

/*.lSPrev {*/
    /*height: 60px !important;*/
    /*background-image: url("../images/left-default-hover-disabled.png") !important;*/
    /*left: 0 !important;*/
    /*background-size: cover;*/
/*}*/

/*.lSNext {*/

    /*height: 60px !important;*/
    /*background-image: url("../images/right-default-hover-disabled.png") !important;*/
    /*right: 0 !important;*/
    /*background-size: cover;*/
/*}*/

.final-tiles-gallery.caption-color-light .tile-inner:before {
    background: rgba(71, 58, 108, 0.95);
}

.header-image{
    position: absolute;
    right:40px;
    top:120px;
}